// Place all the styles related to the Shorts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

.button {
  text-align: center;
}
#text {
  text-align: center;
}
.btnn {
  text-decoration: none;
  color: white;

}
